<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_pague"
        android:label="@string/app_name"
        android:orientation="vertical"
        android:roundIcon="@mipmap/ic_pague_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElChino"
        tools:targetApi="31">
        <activity
            android:name=".MesesActivity"
            android:exported="false" />
        <activity
            android:name=".QuincenasActivity"
            android:exported="false" />
        <activity
            android:name=".Pagan_hoy"
            android:exported="false" />
        <activity
            android:name=".MorososActivity"
            android:exported="false" />
        <activity
            android:name=".CierreActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CuadraturaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BancaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GastosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nuevo_creditoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Re_financiarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AbonarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Estado_clienteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registrar_cliente_nuevoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Util.SubirArchivo" />
    </application>

</manifest>